<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://130.193.46.131:3306/bazabaka</property>
        <!--property name="connection.url">jdbc:mysql://localhost:3306/bazabaka</property-->
        <property name="connection.username">baker</property>
        <property name="connection.password">BazaBaker1</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="entity.dbEntity.AppusersEntity"/>
        <mapping resource="db/AppusersEntity.hbm.xml"/>
        <mapping resource="db/WinLsEntity.hbm.xml"/>
        <mapping class="entity.dbEntity.WinLsEntity"/>
        <mapping resource="db/LeaguesEntity.hbm.xml"/>
        <mapping class="entity.dbEntity.LeaguesEntity"/>
        <mapping resource="db/MatchesLEntity.hbm.xml"/>
        <mapping class="entity.dbEntity.MatchesLEntity"/>
        <mapping resource="db/MatchesUpdatesEntity.hbm.xml"/>
        <mapping class="entity.dbEntity.MatchesUpdatesEntity"/>
        <mapping resource="db/PlayersEntity.hbm.xml"/>
        <mapping class="entity.dbEntity.PlayersEntity"/>
        <mapping resource="db/ResultEntity.hbm.xml"/>
        <mapping class="entity.dbEntity.ResultEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>